body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
}

.marcelo {
    display: flex;
    width: 90%;
    background-color: #161616;
    border-radius: 10px;

    margin: auto;
    padding-left: 50px;
    margin-bottom: 50px;
    /* flex-grow: initial; */


}

.earth {
    color:
        #FFFFFF;
    width: 500px;
    padding-bottom: 40px;

}

.earth img {
    width: 400px;
    height: 500px;
    padding-left: 50px;
    padding-top: 50px;

}

.link-button {
    color: #FFFFFF;
    text-decoration: none;
    background-color:
        #DD0000;
    padding: 16px 25px;
    gap: 10px;
    border-radius: 5px;
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}

/* 2nd part */

.email-box {
    margin-right: 25px;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    width: 312px;
    height: 312px;
    text-align: center;
    border-radius: 5px;
    padding: 0 15px;

}

.box a {
    text-decoration: none;
    color: black;
    background-color: #FFFFFF;
    margin: auto;
    padding: 15px;
    align-items: center;
    width: 90%;
    border-radius: 5px;
}

.box>.blog {
    background-color: #DD0000;
    color: #FFFFFF;
}



/* player part */

.player {
    display: flex;
    /* width: 90%; */
    margin: 0 auto;
    justify-content: space-between;
}

.player-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 25px;
}

.play {

    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;

}

.play img {
    width: 100%;
}

.sala {

    width: 250px;
    height: 175px;
    margin-bottom: 20px;

}

.trans .border {
    text-decoration: none;
    border: 1px solid #161616;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    text-align: center;
    padding: 5px;
}

.hour {
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: space-between;

}

.hour div {
    display: flex;
}

.hour div img {
    margin-right: 15px;
}

/* 3rd part */
.fotter {
    background-color: #161616;
    color: #FFFFFF;
    padding: 100px;



}

.margin {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 1px solid gray;
}



.fot {
    display: flex;
    justify-content: space-evenly;
}

.icon {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

/* -----------Media Queries-------- */
/* Mobile divices */
@media only screen and (max-width:766px) {

    .marcelo {
        /* width: 100%; */
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player {
        flex-direction: column;
        align-items: center;
    }

    .player-all {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }


    .fot {
        flex-direction: column;
        align-items: center;
    }

    .icon {
        flex-direction: column;
        align-items: center;
    }


}

/* tablet devices */

@media only screen and (min-width:768px) and (max-width:1023px) {

    .marcelo {
        /* width: 100%; */
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player {
        flex-direction: column;
        align-items: center;
    }

    .player-all {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }


    .fot {
        flex-direction: column;
        align-items: center;
    }

    .icon {
        flex-direction: column;
        align-items: center;
    }



}


/* --------upcoming.html -----------*/

.player2 {
    display: flex;
}

.all-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 25px;
}

.list {
    background-color: aqua;
    width: 280px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

.imgvs {
    display: flex;
    padding: 20px 40px;
}

/* Mobile divices */
@media only screen and (max-width:766px) {

    .marcelo {
        /* width: 100%; */
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player2 {
        flex-direction: column;
        align-items: center;
    }

    .all-list {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }


    .fot {
        flex-direction: column;
        align-items: center;
    }

    .icon {
        flex-direction: column;
        align-items: center;
    }


}

/* tablet devices */

@media only screen and (min-width:768px) and (max-width:1023px) {

    .marcelo {
        /* width: 100%; */
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player2 {
        flex-direction: column;
        align-items: center;
    }

    .all-list {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }


    .fot {
        flex-direction: column;
        align-items: center;
    }

    .icon {
        flex-direction: column;
        align-items: center;
    }



}



/* -----------------group.html----------------- */
.player3 {
    display: flex;
    width: 100%;
}

.group {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: aquamarine;
    width: 270px;
    height: 300px;
    padding-left: 10px;
}

.group-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 25px;
}

/* -----------Media Queries-------- */
/* Mobile divices */
@media only screen and (max-width:766px) {

    .marcelo {
        /* width: 100%; */
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player3 {
        flex-direction: column;
        align-items: center;
    }

    .group-all {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }


    .fot {
        flex-direction: column;
        align-items: center;
    }

    .icon {
        flex-direction: column;
        align-items: center;
    }


}


/* tablet devices */


@media only screen and (min-width:768px) and (max-width:1023px) {

    .marcelo {
        /* width: 100%; */
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player3 {
        flex-direction: column;
        align-items: center;
    }

    .group-all {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }


    .fot {
        flex-direction: column;
        align-items: center;
    }

    .icon {
        flex-direction: column;
        align-items: center;
    }



}